{% extends 'master.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h1>
                {{ player.name }}
                {{ player.surname }}
                (age:
                {{ player.age }})
                {% if perms.demo_app.change_player %}
                    <a href="{% url 'demo_app:editplayer' player.id %}">
                        <span class="btn btn-primary">Edit</span>
                    </a>
                {% endif %}
                {% if perms.demo_app.delete_player %}
                    <a href="{% url 'demo_app:deleteplayer' player.id %}">
                        <span class="btn btn-danger">Delete</span>
                    </a>
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">

                <footer class="blockquote-footer">
                    Goals
                    <cite title="Source Title">
                        {{ player.goals }}
                    </cite>
                </footer>
                <footer class="blockquote-footer">
                    Assists
                    <cite title="Source Title">
                        {{ player.assists }}
                    </cite>
                </footer>
                <footer class="blockquote-footer">
                    Points in fantasy
                    <cite title="Source Title">
                        {{ player.getPoints }}
                    </cite>
                </footer>

            </blockquote>
        </div>
        <button type="button" class="btn btn-primary"><a href="{% url 'demo_app:goal' player.id %}">
                        <span class="badge badge-primary">GOOOALLLLL</span>
                    </a></button>
        <button type="button" class="btn btn-primary"><a href="{% url 'demo_app:assist' player.id %}">
                        <span class="badge badge-primary">ASSIST</span>
                    </a></button>
    </div>


{% endblock %}